/* clases globales */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

/* header */
.img-container{
  background-image: url("../img/inicio-gym.jpg");
  width: 100%;
  height: 600px;
  object-fit: cover;
  background-repeat: no-repeat;
}

.container-header{
  height: 4em;
  width: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  position: fixed;
  z-index: 998;
  transition: transform .5s;
}

.navegador{
  display: flex;
  flex-direction: row;
}

.contenedor-logo{
  display: flex;
  justify-content: flex-start;
  width: 40%;
  margin-left: 30px;
  align-items: center;
  margin-top: 15px;
}

.contenedor-logo a{
  color: aliceblue;
}

.div-list-nav{
  width: 100%;
}
.list-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  align-items: center;
  margin-top: 15px;
  font-size: 20px;
}

.list-nav li a{
  color: rgb(0, 212, 0);
}

/* inicio de sesion */
.inicio-sesion{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.inicio-sesion svg{
  position: absolute;
  left: 80%;
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

.inicio-sesion a{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* menu  de inicio sesion */
.menu-inicioSesion li:hover ul {
  display: block;
}

.menu-inicioSesion ul{
  display: none;
  position: absolute;
  top: 78%;
  left: 79.5%;
  background-color: aliceblue;
  width: 10vw;
  height: 10.5vh;
}

.menu-inicioSesion ul li{
  margin-top: 6px;
}

/* carrito de compras */
.carrito-compras .icon-cart{
  position: relative;
  margin-right: 20px;
  cursor: pointer;
}

.carrito-compras .icon-cart span{
  display: flex;
  width: 25px;
  height: 25px;
  background-color: red;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: -10px;
}

.cartTab{
  width: 380px;
  background-color: #353432;
  color: white;
  position: fixed;
  inset: 0 -400px 0 auto;
  z-index: 999;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  transition: .5s;
}

.showCart .cartTab{
  inset: 0 0 0 auto;
}

/* esto hace que se mueva la carta del carrito */
.showCart .container-header{
  transform: translateX(-280px);
}

.cartTab h2{
  padding: 20px;
  margin: 0;
  font-weight: 300;
}

.cartTab .btn-carrito{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.cartTab .btn-carrito button{
  background-color: yellow;
  border: none;
  font-weight: 500;
  cursor: pointer;
  height: 60px;
}

.cartTab .btn-carrito .close-carrito{
  background-color: #eee;
}
/* inicio */
.contenedor-inicio{
  display: flex;
  flex-direction: row;
}

.descripcion-inicio{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.descripcion-inicio h1{
  width: 70%;
  color: white;
  margin-bottom: 20px;
  font-size: 45px;
}

.descripcion-inicio span{
  color: rgb(0, 255, 0);
}

.descripcion-inicio p{
  width: 60%;
  color: #c0afd6;
}

.descripcion-inicio button{
  margin-top: 25px;
  padding: 15px 50px;
  border-radius: 30px;
  background-color: rgb(0, 255, 0);
  color: white;
  cursor: pointer;
  border: none;
}

.imagen-inicio{
  width: 50%;
  height: 97.2vh;
  display: flex;
  justify-content: center;
}

/* seccion productos */
.seccion-producto{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(36, 18, 54);
}

.titulo-productos{
  display: flex;
  justify-content: center;
  font-size: 60px;
  margin-top: 60px;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: aliceblue;
}

/* slider seccion productos */
.slider{
  height: 100vh;
  margin-top: 20px;
  width: 70%;
  overflow: hidden;
  position: relative;
  border-radius: 30px;
}

.slider .list .item{
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 0 0 0;
}

.slider .list .item img{
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.slider .list .item .content{
  position: absolute;
  top: 20%;
  width: 1140px;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 30%;
  box-sizing: border-box;
  color: #fff;
  text-shadow: 0 5px 10px #0004;
}

.slider .list .item .content .title,
.slider .list .item .content .type{
  font-size: 5em;
  font-weight: bold;
  line-height: 1.3em;
  width: 50%;
}

.slider .list .item .type{
  color: #14ff72cb;
}

.description{
  width: 70%;
}

.slider .list .item .boton-producto{
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-template-rows: 40px;
  gap: 5px;
  margin-top: 20px;
}

.slider .list .item .boton-producto button{
  border: none;
  background-color: #eee;
  font-family: Poppins;
  font-weight: 500;
  cursor: pointer;
  transition: 0.4s;
  letter-spacing: 2px;
}

.slider .list .item .boton-producto button:hover{
  letter-spacing: 3px;
}

.slider .list .item .boton-producto button:nth-child(2){
  background-color: transparent;
  border: 1px solid #fff;
  color: #eee;
}

/* Thumbnail Section  */
.thumbnail{
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: max-content;
  z-index: 100;
  display: flex;
  gap: 20px;
}

.thumbnail .item{
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
}

.thumbnail .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
}

/* nextPrevArrows Section  */
.nextPrevArrows{
  position: absolute;
  top: 92%;
  right: 38%;
  z-index: 100;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
}

.nextPrevArrows button{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #14ff72cb;
  border: none;
  color: #fff;
  font-family: monospace;
  font-weight: bold;
  transition: .5s;
  cursor: pointer;
}

.nextPrevArrows button:hover{
  background-color: #fff;
  color: #000;
}

/* Animation Part */
.slider .list .item:nth-child(1){
  z-index: 1;
}

/* animation text in first item */
.slider .list .item:nth-child(1) .content .title,
.slider .list .item:nth-child(1) .content .type,
.slider .list .item:nth-child(1) .content .description,
.slider .list .item:nth-child(1) .content .boton-producto{
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent .5s 1s linear 1 forwards;
}

@keyframes showContent{
  to{
      transform: translateY(0px);
      filter: blur(0px);
      opacity: 1;
  }
}

.slider .list .item:nth-child(1) .content .title{
  animation-delay: 0.4s !important;
}

.slider .list .item:nth-child(1) .content .type{
  animation-delay: 0.6s !important;
}

.slider .list .item:nth-child(1) .content .description{
  animation-delay: 0.8s !important;
}

.slider .list .item:nth-child(1) .content .boton-producto{
  animation-delay: 1s !important;
}

/* Animation for next button click */
.slider.next .list .item:nth-child(1) img{
  width: 150px;
  height: 220px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  border-radius: 30px;
  animation: showImage .5s linear 1 forwards;
}

@keyframes showImage{
  to{
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 0;
  }
}

.slider.next .thumbnail .item:nth-last-child(1){
  overflow: hidden;
  animation: showThumbnail .5s linear 1 forwards;
}

.slider.prev .list .item img{
  z-index: 100;
}

@keyframes showThumbnail{
  from{
      width: 0;
      opacity: 0;
  }
}

.slider.next .thumbnail{
  animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext{
  from{
      transform: translateX(150px);
  }
}

/* Animation for prev button click */
.slider.prev .list .item:nth-child(2){
  z-index: 2;
}

.slider.prev .list .item:nth-child(2) img{
  animation: outFrame 0.5s linear 1 forwards;
  position: absolute;
  bottom: 0;
  left: 0;
}

@keyframes outFrame{
  to{
      width: 150px;
      height: 220px;
      bottom: 50px;
      left: 50%;
      border-radius: 20px;
  }
}

.slider.prev .thumbnail .item:nth-child(1){
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail .5s linear 1 forwards;
}

.slider.next .nextPrevArrows button,
.slider.prev .nextPrevArrows button{
  pointer-events: none;
}

.slider.prev .list .item:nth-child(2) .content .title,
.slider.prev .list .item:nth-child(2) .content .type,
.slider.prev .list .item:nth-child(2) .content .description,
.slider.prev .list .item:nth-child(2) .content .buttons{
  animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut{
  to{
      transform: translateY(-150px);
      filter: blur(20px);
      opacity: 0;
  }
}

.verMas-Productos{
  margin-top: 15px;
  margin-bottom: 80px;
  color: aliceblue;
  font-size: 15px;
  padding: 20px 40px;
  background-color: rgb(104, 131, 131);
  border-radius: 30px;
}

@media screen and (max-width: 678px) {
  .slider .list .item .content{
      padding-right: 0;
  }
  .slider .list .item .content .title{
      font-size: 50px;
  }
}

/* Seccion 2 nosotros */
.seccion-nosotros {
  display: flex;
  flex-direction: row;
  background-color: rgb(55, 17, 90);
  justify-content: center; 
  align-items: center;
  height: 110vh;
}

.container-seccion-nosotros {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-seccion-nosotros img {
  width: 70%;
  object-fit: contain;
  border-radius: 10px;
}

.descripcion-seccion-nosotros{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.descripcion-seccion-nosotros h2{
  width: 80%;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  color: aliceblue;
}

.descripcion-seccion-nosotros p{
  width: 70%;
  margin-top: 40px;
  color: #c0afd6;
  font-size: 15x;
}

.descripcion-seccion-nosotros a{
  margin-top: 40px;
  color: aliceblue;
  padding: 15px 40px;
  background-color: blueviolet;
  border-radius: 30px;
}

/* seccion 3 ayudas */
.seccion-ayudas{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(39, 18, 58);
  height: 120vh;
}

.seccion-ayudas h2{
  margin-bottom: 30px;
  font-size: 60px;
  color: aliceblue;
}

.container-seccion-ayudas{
  width: 80%;
  height: 70vh;
  display: flex;
  flex-direction: row;
}

.subContainer-img-ayudas{
  width: 50%;
}

.subContainer-img-ayudas img{
  background-size: cover;
  width: 100%;
  height: 100%;
}

.subContainer-descripcion-ayudas{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(23, 29, 29);
}

.subContainer-descripcion-ayudas h3{
  font-size: 35px;
  text-transform: uppercase;
  margin-top: 60px;
  color: antiquewhite;
}

.subContainer-descripcion-ayudas a{
  margin-top: 10px;
  padding: 15px 35px;
  background-color: blueviolet;
  color: aliceblue;
  border-radius: 30px;
}

/* sesion envio de correo */
.sesion-enviarCorreo{
  background-color: rgb(31, 9, 51);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.sesion-enviarCorreo h3{
  font-size: 30px;
  text-align: center;
  width: 50%;
  color: aliceblue;
  margin-top: 20px;
  margin-bottom: 30px;
}

.div-correo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 50%;
}

.div-correo input{
  padding: 20px 350px 20px 15px;
  border-radius: 30px;
  border: 2px black;
  border-right: none;
}

.div-correo button{
  padding: 20px 80px;
  border-radius: 30px;
  cursor: pointer;
  margin-left: 10px;
}

/* footer */
/* footer */
.footer{
  height: 42vh;
  background-color: rgb(20, 10, 29);
}

.container-footer{
  display: flex;
  flex-direction: row;
  border-top: 2px solid white;
  border-bottom: 2px solid white;

}

.container-footer li{
  list-style: none;
}

.logo-footer{
  width: 25%;
  text-align: center;
  margin-top: 40px;
  color: aliceblue;
}

.menu-footer{
  width: 25%;
  text-align: center;
  margin-top: 40px;
  height: 30vh;
}

.menu-footer h3{
  color: aliceblue;
  margin-bottom: 15px;
}

.menu-footer a{
  color: #c0afd6;
  margin-bottom: 8px;
}

.menu-footer ul li{
  color: #c0afd6;
  margin-bottom: 0.3em;
}

.menu-footer-lastli{
  margin-bottom: 0.5em;
}

.politicas-footer{
  width: 25%;
  text-align: center;
  margin-top: 40px;
}

.politicas-footer h3{
  color: aliceblue;
  margin-bottom: 15px;
}

.politicas-footer ul li{
  margin-bottom: 0,4em;
}

.politicas-footer a{
  color: #c0afd6;
}

.contacto-footer{
  width: 25%;
  text-align: center;
  margin-top: 40px;
}

.contacto-footer h3{
  color: aliceblue;
  margin-bottom: 15px;
}

.contacto-footer ul li{
  color: #c0afd6;
  margin-top: 8px;
}

.derechos-footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(20, 10, 29);

}

.derechos-footer h4{
  color: aliceblue;
  margin-top: 50px;
}

.derechos-footer p{
  color: aliceblue;
  margin-top: 15px;
}