/* Dashboard reset y body */
*{
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
}
.bgadm{
  height: 100%;
  width: 100%;
}

/* Navegador y logo */
.nav-dashboard{
  display: flex;
  justify-content: space-between;
  background-color: rgba(36, 18, 54, 0.892);
  width: 100%;
  height: 13vh;
  padding: 0.5rem;
}

.admilogo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: rgb(0, 255, 13);
  margin-left: 0.2rem;
}

.admilogo:hover{
  background-color: rgb(240, 225, 19);
}

.navdiv-img{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.7rem;
}
.NameUserBanner{
  margin-left: 0.5rem;
  color: white;
  font-size: 1.3rem;
}

.navright-items{
  font-size: 2.5rem;
  color: white;
  margin: 0.4rem;
  padding-right: 0.5rem;
}

/* Aquí esta el panel lateral izquierdo de los controles */

.dashboard-admin{
  display: flex;
  height: 93%;
  width: 100%;
}

.divdashboard-left{
  display: flex;
}

.leftnavasidecontainer{
  background-color: rgb(28, 15, 40);
  height: 100%;
  border-radius: 0% 2% 2% 0%;
  margin: 0.1rem;
}

.leftnavaside{
  color: rgb(255, 255, 255);
  font-size: 1rem;
  padding: 0.15rem;
  list-style: none;
  margin: 0;
  background-color: transparent;
}

.leftnavaside:hover{
  color: rgb(140, 90, 226);
}

ul label{
  color: rgb(0, 201, 33);
  font-size: 1.5rem;
  padding: 0.5rem;
}

ul li{
  padding: 0.2rem;
  list-style: none;
}

aside ul{
  margin-top: 1.3rem;
}

.uldadboard-left{
  height: 20vh;
  width: 15vw;
  padding: 0.7rem;
}

/* Este es el principal donde esta el grid  */
.dashboard-principal{
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  margin: 0.2rem;
}

.dbprincipal-gridtop{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  gap: 0rem 1rem;
  margin: 1.2rem;
}

.gridquarter {
  height: 30vh;
  width: 100%;
  background-color: aliceblue;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.dbprincipal-gridbottom {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin: 1.2rem;
  gap: 1rem;
}

.gripquarterbottom {
  height: 45vh;
  width: 100%;
  background-color: aliceblue;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

/* Aquí esta la parte de agregar, eliminar, modificar */
.dashbardpresentacion{
  display: none;
  flex-direction: column;
  background-color: rgba(253, 0, 0);
  height: 100%;
  width: 100%;
}

.bgregistercontainer-admi{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: chartreuse;
  height: 100%;
  width: 100%;
}

.containderAdm-view{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 87vh;
  width: 97%;
  background-color: rgb(36, 18, 54);
  border-radius: 0.4rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Visualización del agregar producto */
.dashboardadministrator-add{
  display: none;
  background-color: rgb(255, 255, 255);
  
}

/* Eliminación de productos */
.dashboardadministrator-delete{
  display: none;
  background-color: rgb(255, 255, 255);
}

.delete-tittle{
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboardadministrator-delete .dashboardelete-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-auto-rows: minmax(40vh, 35%);
  gap: 1em;
  background-color: rgb(36, 18, 54);
  height: 95%;
  width: 97%;
  border-radius: 0.4rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto; 
}

.dashboardelete-container .dashboardelete-cartgridproductcontent{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.3rem;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(255, 255, 255, 0.624);
}

.dashboardelete-titleproduct{
  display: flex;
  justify-content: space-around;
  margin: 0.5rem;
}

.dashboardelete-idproduct{
  color: red;
}

.dashboardelete-infoproducts{
  flex-direction: column;
  width: 100%;
}

.dashboardelete-imgproductcontainer{
  display: flex;
  justify-content: center;
  height: 70%;
  width: 95%; 
}

.dashboardelete-imgproduct{
  display: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%; 
}

.dashboardelete-parrproduct{
  width: 100%;
}

.dashboardelete-svgcotainer{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 90%;
  height: 12%;
}

.dashboardelete-svg {
  height: 1.4rem;
  fill: rgb(255, 0, 0);
  transition: fill 0.3s ease; 
  padding-bottom: 0.2rem;
}

.dashboardelete-svg:hover {  
  fill: #1aff00;
}

/* Editar productos */
.dashboardadministrator-edict{
  display: none;
  background-color: rgb(255, 255, 255);
}

/* Login dashboard */
.bglogin{
  background: url("../img/inicio-gym.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}
.login-containerAdm{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  width: auto;
}
.form-panelAdm{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.inputAdm-box {
  height: auto;
  width: 30vw;
  margin: 1rem;
}
.title-PanelAdm{
  font-size: 3rem;
  color: rgb(43, 255, 0);
  margin-bottom: 2rem;
}


/* Formulario */

.form-style {
  padding: 1rem;
  max-width: 40rem;
  margin: 0 auto;
  height: 85vh;
}

.top {
  text-align: center;
  margin-bottom: 0.7rem;
}

.top label {
  font-size: 30px;
  color: #fff;
  font-weight: bold;
}

.input-box {
  position: relative;
  margin-bottom: 0.5rem;
}

.input-field {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2); /* Fondo con transparencia */
  color: #fff;
  font-size: 16px;
  outline: none;
  transition: background 0.3s ease;
}

.input-field::placeholder {
  color: aliceblue;
}

.input-box textarea.input-field {
  resize: none;
  height: 100px;
}

.submit {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background: #1aff00;
  color: aliceblue;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.submit:hover {
  background: #e1da1a;
}
